// Base Brand
// $bc-primary:;
// $bc-secondary:;
// $bc-tertiary:;
// $fc-primary:;
// $fc-secondary:;
// $fc-tertiary:;


// Base Font Format
$base-font-primary: "Noto Sans", sans-serif;
$base-font-secondary: "Noto Serif", serif;;
$base-font-header: 1.167em;
$base-font-body: 1em;
$base-font-nav: 1em;
$base-font-line-height: 1.5em;

// Base Font Weights
$regular: 400;
$bold: 700;


// Base Styling Treatments
// $grid-margin: 1em;
$margin-small: 0.833em;  // 10px
$margin-large: 1.667em;  // 20px
$padding-small: 0.833em; // 10px
$padding-large: 1.667em; // 20px
// $padding-large: 3em;


// Base Format
html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: peachpuff;
  font-size: 12px;
  height: 100%;
}

a {
  font-family: $base-font-primary;
  font-size: $base-font-nav;
  font-weight: $bold;
  text-decoration: none;
}

ul {
  list-style: none;
}


// Site Container
#site-container, 
.site-content {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

// #site-container {
//   display: none;
// }

.site-content {
  margin-top: 8em;
}


// Base Grid Format
.grid-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // margin-top: $grid-margin;
  width: 100%;
}

.grid-col {
  background-clip: content-box;
  // background-color: red;
  // border: 1px solid black; // Remove later.
  flex: 1 1 8%;
  // margin-bottom: $grid-margin;
  // padding: $padding-small;
}

.grid-col-1 {
  background-color: red;
  flex-basis: 8.3333%;
}

.grid-col-2 {
  background-color: green;
  flex-basis: 16.6666%; 
}

.grid-col-3 {
  flex-basis: 25%;
}

.grid-col-4 {
  flex-basis: 33.3333%;
}

.grid-col-5 {
  flex-basis: 41.6666%;
}

.grid-col-6 {
  flex-basis: 50%;
}

.grid-col-7 {
  flex-basis: 58.3333%;
}

.grid-col-8 {
  flex-basis: 66.6666%;
}

.grid-col-9 {
  flex-basis: 75%;
}

.grid-col-10 {
  flex-basis: 83.3333%;
}

.grid-col-11 {
  flex-basis: 91.6666%;
}

.grid-col-12 {
  background-color: orange;
  flex-basis: 100%;
}


// Navigation
.site-header {
  position: fixed;
  top: 0;
  z-index: 2;
}

.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  line-height: 4.5em;
  overflow: hidden;

  li {
    flex: 0 1 auto;
    padding: 0 1em 0 1em;
    text-align: center;
  }  
  
  li:nth-child(1) {
    flex: 8 0 auto;
    text-align: left;  
  }

  a:link {
    color: yellow; 
  }

  a:focus {
    color: orange; 
  }  

  a:hover {
    color: green; 
    transition: 300ms; 
  }

  a:active {
    color: red; 
  }
}


// Search Engine
.site-search {
  input[type="text"] {
    border-radius: none;
  }

  input[type="text"]:focus {
    outline: none;
  }
}

// Market List
.site-markets {
  overflow: scroll;
}

.market-item {
  border-bottom: 1px solid #000;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  line-height: $base-font-line-height;

  div:nth-child(1) {
    background-color: pink;
  }

  div:nth-child(2) {
    background-color: orange;
    flex: 1 1 0;
    padding: $padding-small;
  }

  div:nth-child(3) {
    background-color: green;
    padding: $padding-small $padding-large $padding-small $padding-small;
  }

  ul {
    background-color: red;
    // margin: $padding-small;
  }

  li > h2 {
    font-family: $base-font-primary;
    font-size: $base-font-header;
    font-weight: $bold; 
  }

  h2 {
    font-family: $base-font-secondary;
    font-size: $base-font-body;
    font-weight: $regular;
  }
}


// Google Maps
a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none !important;
}

.gmnoprint div {
  background:none !important;
}


// Footer
.site-footer {
  p {
    line-height: 3em;
  }
}


// Media Queries
@media all and (min-width: 320px) {
  .site-markets {
    max-width: none;

    div:last-child {
      padding-bottom: 8em;
    }
  }

  .market-item {
    div:nth-child(1) {
      display: none;
    }

    div:nth-child(3) {
      width: 10.333em;
    }
  }

  .site-map { 
    display: none;
  }

  .site-footer { 
    display: none; 
  }
}

@media all and (min-width: 768px) {
  .site-markets { 
    max-width: 48.333em;
  }

  .market-item {
    div:nth-child(1) {
      display: block;
    }

    div:nth-child(3) {
      padding-bottom: 0;
      width: 13.333em;
    }
  }

  .market-photo {
    > div {
      border-radius: 0.250em;
      height: 7.583em;    
      margin-bottom: 1.417em;
      margin-left: $margin-large;
      margin-right: $margin-small;
      margin-top: 1.417em;
      overflow: hidden;
      width: 8.333em;
    }

    // img {
    //   height: 100%;
    // }
  }

  .site-footer { 
    bottom: 0;
    display: block;
    position: fixed;
  }

  .site-map {
    display: block;
  }
}