// Base Brand Colors
$bc-primary: #00BA9D;    // Aqua
$bc-secondary: #75C98E;  // Green
$bc-tertiary: #FFFFFF;   // White
$bc-quaternary: #333333; // Dark Grey
$bc-quinary: #69B580;    // Dark Green


// Base Font Format
$ff-primary: "Noto Sans", sans-serif;
$ff-secondary: "Noto Serif", serif;
$fs-small: 0.833em;      // 10px
$fs-medium: 1em;         // 12px
$fs-large: 1.167em;      // 14px
$fw-regular: 400;
$fw-bold: 700;
$lh-medium: 1.500em;     // 15px


// Base Styling Treatments
$br-small: 0.250em;      // 3px
$gt-small: 0.833em;      // 10px
$gt-medium: 1em;         // 12px
$gt-large: 1.667em;      // 20px


// Base Format
html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bc-tertiary;
  font-size: 12px;
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}


// Site Container
#site-container {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.site-content {
  margin-top: 10.667em;
}


// Base Grid Format
.grid-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.grid-col {
  background-clip: content-box;
  flex: 1 1 8%;
}

.grid-col-1 {
  flex-basis: 8.3333%;
}

.grid-col-2 {
  flex-basis: 16.6666%;
}

.grid-col-3 {
  flex-basis: 25%;
}

.grid-col-4 {
  flex-basis: 33.3333%;
}

.grid-col-5 {
  flex-basis: 41.6666%;
}

.grid-col-6 {
  flex-basis: 50%;
}

.grid-col-7 {
  flex-basis: 58.3333%;
}

.grid-col-8 {
  flex-basis: 66.6666%;
}

.grid-col-9 {
  flex-basis: 75%;
}

.grid-col-10 {
  flex-basis: 83.3333%;
}

.grid-col-11 {
  flex-basis: 91.6666%;
}

.grid-col-12 {
  flex-basis: 100%;
}


// Site Navigation
.site-header {
  border-bottom: 1px solid $bc-quinary;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.20);
  position: fixed;
  top: 0;
  z-index: 2;
}

.site-nav {
  background-color: $bc-primary;
  font-family: $ff-primary;
  font-size: $fs-medium;
  font-weight: $fw-bold;
}

.nav-list {
  color: $bc-tertiary;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  line-height: 4.5em;
  overflow: hidden;

  .site-words {
    font-family: $ff-secondary;
    font-size: $fs-small;
    font-weight: $fw-regular;
  }

  li {
    flex: 0 1 auto;
    padding: 0 $gt-medium;
    text-align: center;
  } 
  
  li:nth-child(1) {
    flex: 8 0 auto;
    padding-left: $gt-large;
    text-align: left;
  }

  a:link {
    letter-spacing: 0.4em;
    text-transform: uppercase;
  }

  a:visited, a:active {
    color: $bc-tertiary;
  }
}


// Search Engine
.site-search {
  background-color: $bc-secondary;

  form {
    padding-left: $gt-large;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  input {
    border: none;
    border-radius: $br-small;
    box-shadow: none; 
    display: block;
    line-height: 3.333em;
    margin: $gt-large $gt-small $gt-large 0;
  }

  input[type="text"] {
    appearance: none;
    padding-left: $gt-small;
    width: 33.333em;
  }

  input[type="text"]:focus {
    outline: none;
  }

  input[type="submit"] {
    background-color: $bc-primary;
    color: $bc-tertiary;
    font-weight: $fw-bold;
    width: 16.083em;
  }

  input[type="submit"]:hover {
    background-color: $bc-tertiary;
    color: $bc-primary;
    transition: 300ms;
  }
}


// Market List
.site-markets {
  border-right: 1px solid #69B580;
  overflow: scroll;
}

.market-item {
  border-bottom: 1px solid #CFECD8;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  line-height: $lh-medium;
  padding: $gt-large;

  div:nth-child(1) {
    border-radius: $br-small;
    height: 7.25em;
    margin-right: $gt-small;
    overflow: hidden;
    width: 8.333em;
  }

  div:nth-child(2) {
    padding-left: $gt-small;
    padding-right: $gt-small;
    padding-top: 0.500em;
    flex: 1 1 0;
  }

  div:nth-child(3) {
    min-width: 11.167em;
    padding-left: $gt-small;
    padding-top: 0.500em;
  }

  a {
    color: $bc-primary;
  }

  h2 {
    font-family: $ff-primary;
    font-size: $fs-large;
    font-weight: $fw-bold; 
    // padding-bottom: 3px;
  }

  li {
    color: $bc-quaternary;
    font-family: $ff-secondary;
    font-size: $fs-medium;
  }
}

.background-image {
  display: block;
  background-size: auto 100%;
  background-position: left;
  background-repeat: no-repeat;
}

.market-details {
  float: left;
  padding-top: 0.167em;
  padding-right: $gt-small;
}


// Google Maps
a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display: none !important;
}

.gmnoprint div {
  background: none !important;
}


// Footer Content
.site-footer {
  background-color: $bc-secondary;
  border-top: 1px solid $bc-quinary;
  box-shadow: 10px 1px 10px 0px rgba(0, 0, 0, 0.20);
  bottom: 0;
  color: $bc-tertiary;
  position: fixed;

  p {
    font-family: $ff-primary;
    font-size: $fs-small;
    line-height: 4em;
    padding-left: $gt-large;
  }
}


// Media Queries
@media all and (min-width: 0px) {
  .site-content {
    height: calc(100% - 10.583em); // Subtracting the footer height.
  }

  .site-markets {
    max-width: none;
  }

  .market-item div:nth-child(1), .site-footer, .site-map {
    display: none;
  }
}

@media all and (min-width: 40em) {
  .market-item div:nth-child(1) {
    display: block;
  }
}

@media all and (min-width: 64em) {
  .site-content {
    height: calc(100% - 13.917em); // Subtracting the footer height.
  }

  .site-markets { 
    max-width: 52em;
  }

  .market-item div:nth-child(1), .site-footer, .site-map {
    display: block;
  }
}