// Base Brand
// $bc-primary:;
// $bc-secondary:;
// $bc-tertiary:;
// $fc-primary:;
// $fc-secondary:;
// $fc-tertiary:;


// Base Font Format
// font-family: 'Noto Sans', sans-serif;
// font-family: 'Noto Serif', serif;


$base-font-size: 1em;
$base-font-print-header: 1em;
$base-font-print-text: 1em;
$base-font-line-height: 1.5em;


// Base Font Weights


// Base Styling Treatments
$grid-margin: 1em;
$grid-padding: 1em;
$margin-small: 1em;
$padding-small: 1em;
$padding-medium: 2em;
$padding-large: 3em;


// Base Format
html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: peachpuff;
  font-size: 12px;
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;
}


// Site Container
#site-container, 
.site-content {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

// #site-container {
//   // display: none; //
// }

.site-content {
  margin-top: 8em;
}


// Base Grid Format
.grid-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // margin-top: $grid-margin;
  width: 100%;
}

.grid-col {
  background-clip: content-box;
  // background-color: red;
  border: 1px solid black; // Remove later.
  flex: 1 1 8%;
  // margin-bottom: $grid-margin;
  // padding: $padding-small;
}

.grid-col-1 {
  background-color: red;
  flex-basis: 8.3333%;
}

.grid-col-2 {
  background-color: green;
  flex-basis: 16.6666%; 
}

.grid-col-3 {
  flex-basis: 25%;
}

.grid-col-4 {
  flex-basis: 33.3333%;
}

.grid-col-5 {
  flex-basis: 41.6666%;
}

.grid-col-6 {
  flex-basis: 50%;
}

.grid-col-7 {
  flex-basis: 58.3333%;
}

.grid-col-8 {
  flex-basis: 66.6666%;
}

.grid-col-9 {
  flex-basis: 75%;
}

.grid-col-10 {
  flex-basis: 83.3333%;
}

.grid-col-11 {
  flex-basis: 91.6666%;
}

.grid-col-12 {
  background-color: orange;
  flex-basis: 100%;
}

// @media all and (min-width: 568px) { // Change to em or a variable with an em.
  // .grid-col-1, .grid-col-2,
  // .grid-col-3, .grid-col-4,
  // .grid-col-5 {
  //   flex-basis: 50%;
  // }

  // .grid-col-6, .grid-col-7,
  // .grid-col-8, .grid-col-9,
  // .grid-col-10, .grid-col-11 {
  //   flex-basis: 100%;
  // }
// }


// Navigation: Logo, Links, & Social
.site-header {
  position: fixed;
  top: 0;
  z-index: 2;
}

.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  line-height: 3em;
  overflow: hidden;

  li {
    flex: 0 1 auto;
    padding: 0 1em 0 1em;
    text-align: center;
  }  
  
  li:nth-child(1) {
    flex: 8 0 auto;
    text-align: left;  
  }

  a:link {
    color: yellow; 
  }

  a:focus {
    color: orange; 
  }  

  a:hover {
    color: green; 
    transition: 300ms; 
  }

  a:active {
    color: red; 
  }
}


// Markets and & Google Maps
.site-markets {
  max-width: 48.333em;
}

a [href^="http://maps.google.com/maps"],
a [href^="https://maps.google.com/maps"],
.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none !important;
}

.gmnoprint div {
    background:none !important;
}