{{!-- List of Markets --}}
<div class="site-markets grid-col grid-col-7">
  <div class="market-item">
    <div class="market-photo">
      <div>
        <img src="http://24.media.tumblr.com/tumblr_mdc51pseED1rho2suo6_250.gif">
      </div>
    </div>

    <div>
      <ul>
        <li><h2>Name of Farmers Market<h2></li>
        <li>## Street Address, Washington, DC 20009</li>
        <li>http://www.farmersmarketname.com</li>
        <li>(###) ###-####</li>
      </ul>
    </div>

    <div>
      <ul>
        <li class="icon-time">##AM – ##PM</li>
        <li class="icon-calendar">Weekday</li>
        <li class="icon-credit">Yes / No</li>
        <li class="icon-cash">Yes / No</li>
      </ul>
    </div>
  </div>

  <div class="market-item">
    <div class="market-photo">
      <div>
        <img src="http://static.tumblr.com/q8dfwso/cTOm7x5ih/puppies.gif">
      </div>
    </div>

    <div>
      <ul>
        <li><h2>Name of Farmers Market<h2></li>
        <li>## Street Address, Washington, DC 20009</li>
        <li>http://www.farmersmarketname.com</li>
        <li>(###) ###-####</li>
      </ul>
    </div>

    <div>
      <ul>
        <li class="icon-time">##AM – ##PM</li>
        <li class="icon-calendar">Weekday</li>
        <li class="icon-credit">Yes / No</li>
        <li class="icon-cash">Yes / No</li>
      </ul>
    </div>
  </div>

  <div class="market-item">
    <div class="market-photo">
      <div>
        <img src="http://25.media.tumblr.com/tumblr_m6fbnqJhiS1qfvx4yo1_500.gif">
      </div>
    </div>

    <div>
      <ul>
        <li><h2>Name of Farmers Market<h2></li>
        <li>## Street Address, Washington, DC 20009</li>
        <li>http://www.farmersmarketname.com</li>
        <li>(###) ###-####</li>
      </ul>
    </div>

    <div>
      <ul>
        <li class="icon-time">##AM – ##PM</li>
        <li class="icon-calendar">Weekday</li>
        <li class="icon-credit">Yes / No</li>
        <li class="icon-cash">Yes / No</li>
      </ul>
    </div>
  </div>

  <div class="market-item">
    <div class="market-photo">
      <div>
        <img src="http://moderndogmagazine.com/sites/default/files/images/uploads/Charge.gif">
      </div>
    </div>

    <div>
      <ul>
        <li><h2>Name of Farmers Market<h2></li>
        <li>## Street Address, Washington, DC 20009</li>
        <li>http://www.farmersmarketname.com</li>
        <li>(###) ###-####</li>
      </ul>
    </div>

    <div>
      <ul>
        <li class="icon-time">##AM – ##PM</li>
        <li class="icon-calendar">Weekday</li>
        <li class="icon-credit">Yes / No</li>
        <li class="icon-cash">Yes / No</li>
      </ul>
    </div>
  </div>

  <div class="market-item">
    <div class="market-photo">
      <div>
        <img src="http://33.media.tumblr.com/6cc642977dee7d9180ab4154bdfd55d5/tumblr_mfto64aPma1r9f5cuo1_250.gif">
      </div>
    </div>

    <div>
      <ul>
        <li><h2>Name of Farmers Market<h2></li>
        <li>## Street Address, Washington, DC 20009</li>
        <li>http://www.farmersmarketname.com</li>
        <li>(###) ###-####</li>
      </ul>
    </div>

    <div>
      <ul>
        <li class="icon-time">##AM – ##PM</li>
        <li class="icon-calendar">Weekday</li>
        <li class="icon-credit">Yes / No</li>
        <li class="icon-cash">Yes / No</li>
      </ul>
    </div>
  </div>

  <div class="market-item">
    <div class="market-photo">
      <div>
        <img src="http://placehold.it/100x80">
      </div>
    </div>

    <div>
      <ul>
        <li><h2>Name of Farmers Market<h2></li>
        <li>## Street Address, Washington, DC 20009</li>
        <li>http://www.farmersmarketname.com</li>
        <li>(###) ###-####</li>
      </ul>
    </div>

    <div>
      <ul>
        <li class="icon-time">##AM – ##PM</li>
        <li class="icon-calendar">Weekday</li>
        <li class="icon-credit">Yes / No</li>
        <li class="icon-cash">Yes / No</li>
      </ul>
    </div>
  </div>

  <div class="market-item">
    <div class="market-photo">
      <div>
        <img src="http://placehold.it/100x80">
      </div>
    </div>

    <div>
      <ul>
        <li><h2>Name of Farmers Market<h2></li>
        <li>## Street Address, Washington, DC 20009</li>
        <li>http://www.farmersmarketname.com</li>
        <li>(###) ###-####</li>
      </ul>
    </div>

    <div>
      <ul>
        <li class="icon-time">##AM – ##PM</li>
        <li class="icon-calendar">Weekday</li>
        <li class="icon-credit">Yes / No</li>
        <li class="icon-cash">Yes / No</li>
      </ul>
    </div>
  </div>

  <div class="market-item">
    <div class="market-photo">
      <div>
        <img src="http://placehold.it/100x80">
      </div>
    </div>

    <div>
      <ul>
        <li><h2>Name of Farmers Market<h2></li>
        <li>## Street Address, Washington, DC 20009</li>
        <li>http://www.farmersmarketname.com</li>
        <li>(###) ###-####</li>
      </ul>
    </div>

    <div>
      <ul>
        <li class="icon-time">##AM – ##PM</li>
        <li class="icon-calendar">Weekday</li>
        <li class="icon-credit">Yes / No</li>
        <li class="icon-cash">Yes / No</li>
      </ul>
    </div>
  </div>

  <div class="market-item">
    <div class="market-photo">
      <div>
        <img src="http://placehold.it/100x80">
      </div>
    </div>

    <div>
      <ul>
        <li><h2>Name of Farmers Market<h2></li>
        <li>## Street Address, Washington, DC 20009</li>
        <li>http://www.farmersmarketname.com</li>
        <li>(###) ###-####</li>
      </ul>
    </div>

    <div>
      <ul>
        <li class="icon-time">##AM – ##PM</li>
        <li class="icon-calendar">Weekday</li>
        <li class="icon-credit">Yes / No</li>
        <li class="icon-cash">Yes / No</li>
      </ul>
    </div>
  </div>

  <div class="market-item">
    <div class="market-photo">
      <div>
        <img src="http://placehold.it/100x80">
      </div>
    </div>

    <div>
      <ul>
        <li><h2>Name of Farmers Market<h2></li>
        <li>## Street Address, Washington, DC 20009</li>
        <li>http://www.farmersmarketname.com</li>
        <li>(###) ###-####</li>
      </ul>
    </div>

    <div>
      <ul>
        <li class="icon-time">##AM – ##PM</li>
        <li class="icon-calendar">Weekday</li>
        <li class="icon-credit">Yes / No</li>
        <li class="icon-cash">Yes / No</li>
      </ul>
    </div>
  </div>

  <div class="market-item">
    <div class="market-photo">
      <div>
        <img src="http://placehold.it/100x80">
      </div>
    </div>

    <div>
      <ul>
        <li><h2>Name of Farmers Market<h2></li>
        <li>## Street Address, Washington, DC 20009</li>
        <li>http://www.farmersmarketname.com</li>
        <li>(###) ###-####</li>
      </ul>
    </div>

    <div>
      <ul>
        <li class="icon-time">##AM – ##PM</li>
        <li class="icon-calendar">Weekday</li>
        <li class="icon-credit">Yes / No</li>
        <li class="icon-cash">Yes / No</li>
      </ul>
    </div>
  </div>

  <div class="market-item">
    <div class="market-photo">
      <div>
        <img src="http://placehold.it/100x80">
      </div>
    </div>

    <div>
      <ul>
        <li><h2>Name of Farmers Market<h2></li>
        <li>## Street Address, Washington, DC 20009</li>
        <li>http://www.farmersmarketname.com</li>
        <li>(###) ###-####</li>
      </ul>
    </div>

    <div>
      <ul>
        <li class="icon-time">##AM – ##PM</li>
        <li class="icon-calendar">Weekday</li>
        <li class="icon-credit">Yes / No</li>
        <li class="icon-cash">Yes / No</li>
      </ul>
    </div>
  </div>

  <div class="market-item">
    <div class="market-photo">
      <div>
        <img src="http://placehold.it/100x80">
      </div>
    </div>

    <div>
      <ul>
        <li><h2>Name of Farmers Market<h2></li>
        <li>## Street Address, Washington, DC 20009</li>
        <li>http://www.farmersmarketname.com</li>
        <li>(###) ###-####</li>
      </ul>
    </div>

    <div>
      <ul>
        <li class="icon-time">##AM – ##PM</li>
        <li class="icon-calendar">Weekday</li>
        <li class="icon-credit">Yes / No</li>
        <li class="icon-cash">Yes / No</li>
      </ul>
    </div>
  </div>

  <div class="market-item">
    <div class="market-photo">
      <div>
        <img src="http://placehold.it/100x80">
      </div>
    </div>

    <div>
      <ul>
        <li><h2>Name of Farmers Market<h2></li>
        <li>## Street Address, Washington, DC 20009</li>
        <li>http://www.farmersmarketname.com</li>
        <li>(###) ###-####</li>
      </ul>
    </div>

    <div>
      <ul>
        <li class="icon-time">##AM – ##PM</li>
        <li class="icon-calendar">Weekday</li>
        <li class="icon-credit">Yes / No</li>
        <li class="icon-cash">Yes / No</li>
      </ul>
    </div>
  </div>

  <div class="market-item">
    <div class="market-photo">
      <div>
        <img src="http://placehold.it/100x80">
      </div>
    </div>

    <div>
      <ul>
        <li><h2>Name of Farmers Market<h2></li>
        <li>## Street Address, Washington, DC 20009</li>
        <li>http://www.farmersmarketname.com</li>
        <li>(###) ###-####</li>
      </ul>
    </div>

    <div>
      <ul>
        <li class="icon-time">##AM – ##PM</li>
        <li class="icon-calendar">Weekday</li>
        <li class="icon-credit">Yes / No</li>
        <li class="icon-cash">Yes / No</li>
      </ul>
    </div>
  </div>

  <div class="market-item">
    <div class="market-photo">
      <div>
        <img src="http://placehold.it/100x80">
      </div>
    </div>

    <div>
      <ul>
        <li><h2>Name of Farmers Market<h2></li>
        <li>## Street Address, Washington, DC 20009</li>
        <li>http://www.farmersmarketname.com</li>
        <li>(###) ###-####</li>
      </ul>
    </div>

    <div>
      <ul>
        <li class="icon-time">##AM – ##PM</li>
        <li class="icon-calendar">Weekday</li>
        <li class="icon-credit">Yes / No</li>
        <li class="icon-cash">Yes / No</li>
      </ul>
    </div>
  </div>
</div>

{{!-- Google Maps Area --}}
<div class="site-map grid-col grid-col-5" id="map-area">
  {{!-- <button id="cd-zoom-in"></button> --}}
  {{!-- <button id="cd-zoom-out"></button> --}}
</div>