<!DOCTYPE html>
<html>

<head>
    <title>Farmony</title>
    <link rel="stylesheet" href="/public/styles.css">
    <script src="/public/js/jquery.js"></script>
    <!--     <script src="/public/js/market_api.js"></script> -->
    <!--     <script src="/public/js/script.js"></script> -->
</head>

<body>
    <h1>Farmony</h1>
    <nav>

    </nav>
    {{{body}}}
</body>

</html>
