<!DOCTYPE html>
<html>
<head>
  <title>Farmony Markets</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE-Edge">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="icon" type="image/ico" href="/img/icon_favicon.ico">
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="site-container">
    <header class="site-header grid-row">
      <nav class="site-nav grid-col grid-col-12">
        <ul class="nav-list">
          <li><a href="/">Farmony Markets | </a><span class="site-words">A simple web application to view local farmers markets and their vendors.</span></li>
          <!--<li><a href="/markets">Markets</a></li>-->
          <!--<li><a href="/vendors">Vendors</a></li>-->
          <!--<li><a href="/about" id="about">About</a></li>-->
          <!--<li><a href="/contact">Contact</a></li>-->
          <!--<li><a href="#">Sign In</a></li>-->
          <!--<li><a href="#">Sign Up</a></li>-->
        </ul>
      </nav>

      {{!-- Search Engine [THIS NEEDS TO BE EDITED]--}}
       <div class="site-search grid-col grid-col-12" id="tfheader">
        <form id="tfnewsearch" method="get" action="/search">
          <input type="text" class="tftextinput " name="q" placeholder="Farmers Market, vendor, food ...">
          <!--<input type="text" class="tftextinput" name="location" placeholder="Washington, DC">-->
          <input type="submit" value="Search" class="tfbutton">
        </form>
        <div class="tfclear"></div>
      </div>
    </header>
    
    {{!-- Main Content --}}
    <main class="site-content grid-row">
      {{{body}}}
    </main>
    
    {{!-- Footer Content --}}
    <footer class="site-footer grid-row">
      <div class="grid-col grid-col-12">
        <p>The Koalas © 2015, Lovingly made in Washington DC.</p>
      </div>
    </footer>
  </div>

  {{!-- JavaScript Files --}}
  <script src="/public/js/jquery.js"></script>
  <script src="/public/js/script.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8Y6lvtaERFmo2NDyxTk-wdq4qLVrXxSU"></script>
</body>
</html>
