<!DOCTYPE html>
<html>
<head>
    <title>Farmony</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE-Edge">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="site-container">
    <!-- Header & Navigation -->
    <header class="site-header grid-row">
      <nav class="grid-col grid-col-12">
        <ul class="nav-list">
          <li><a href="/">Farmony</a></li>
          <!--<li><a href="/markets">Markets</a></li>-->
          <!--<li><a href="/vendors">Vendors</a></li>-->
          <li><a href="/about" id="about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <!--<li><a href="#">Sign In</a></li>-->
          <!--<li><a href="#">Sign Up</a></li>-->
        </ul>
      </nav>

      <div class="grid-col grid-col-12">
        <p>Some text.</p>
      </div>
    </header>
    
    <!-- Main Content -->
    <main class="site-content grid-row">
      {{{body}}}
    </main>
    
    <!-- Footer -->
    <footer class="grid-row">
      <div class="grid-col grid-col-12">
        <p>Footer text.</p>
      </div>
    </footer>
  </div> <!-- Closes "#site-container" -->  

  <!-- JavaScript -->
  <script src="/public/js/jquery.js"></script>
  <script src="/public/js/script.js"></script>
</body>
</html>
