<!DOCTYPE html>
<html>

<head>
    <title>Farmony</title>
    <link rel="stylesheet" href="/public/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/public/js/market_api.js"></script>
    <script src="/public/js/script.js"></script>
</head>

<body>
    <h1>Farmony</h1>
    <nav>

    </nav>
    {{{body}}}
</body>

</html>
