<!DOCTYPE html>
<html>
<head>
  <title>Farmony</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE-Edge">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <script src="/public/js/jquery.js"></script>
  <script src="/public/js/script.js"></script>
</head>
<body>

<!-- <div class="column-1">Column 1</div>
<div class="column-2">Column 2</div>
<div class="column-3">Column 3</div>
<div class="column-4">Column 4</div>
<div class="column-5">Column 5</div>
<div class="column-6">Column 6</div>
<div class="column-7">Column 7</div>
<div class="column-8">Column 8</div>
<div class="column-9">Column 9</div>
<div class="column-10">Column 10</div>
<div class="column-11">Column 11</div>
<div class="column-12">Column 12</div>
   -->
   <div class="row header">
    <div class="column column-2">Logo</div>
    <div class="column column-4">-</div>
    <div class="column column-6">
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
        <li>FAQ</li>
      </ul>
    </div>
  </div>
  <div class="row middle">
    <div class="column column-2">-</div>
    <div class="column column-8">So much content.</div>
    <div class="column column-2">-</div>
  </div>
  <div class="row footer">
    <div class="column column-12">(c) Maseda Industries, 2015.</div>
  </div>

  <!-- Header & Navigation -->
  <!-- <header class="site-content">
    <nav class="site-nav">
      <ul class="nav-list">
        <li><a href="#">Farmony</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Sign In</a></li>
        <li><a href="#">Sign Up</a></li>
      </ul>
    </nav>
  </header> -->

  <!-- Market Search -->
  <!-- <div class="site-search">
    <form action="/" method="get" >
      <label for="search">Search:</label>
      <input name="search">

      <label for="location">Location:</label>
      <input name="location">

      <input type="submit" value="Search">
    </form>
  </div> -->

  <!-- Content -->
  <!-- <main class="site-content">
    {{{body}}}
  </main> -->

  <!-- Footer -->
  <!-- <footer class="site-footer">
    <p>Footer text.</p>
  </footer> -->
</body>
</html>
