<!DOCTYPE html>
<html>
<head>
    <title>Farmony</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE-Edge">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,700' rel='stylesheet' type='text/css'>
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/script.js"></script>
</head>
<body>
  <div class="site-container">
    <!-- Header & Navigation -->
    <header class="site-header grid-row">
      <nav class="site-nav grid-col grid-col-12">
        <ul class="nav-list">
          <li><a href="/">Farmony</a></li>
          <!--<li><a href="/markets">Markets</a></li>-->
          <!--<li><a href="/vendors">Vendors</a></li>-->
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <!--<li><a href="#">Sign In</a></li>-->
          <!--<li><a href="#">Sign Up</a></li>-->
        </ul>
      </nav>
    </header>

  <!-- Market Search -->
  <div class="site-search">
    <form action="/" method="get" >
      <label for="search">Search:</label>
      <input name="search">

      <label for="location">Location:</label>
      <input name="location">

      <input type="submit" value="Search">
    </form>
  </div>

    <main>
        {{{body}}}

        <div id="map"></div>
        <script type="text/javascript">
            var map;

            function initMap(userLat, userLng) {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {
                        lat: 38.912,
                        lng: -77.018
                    },
                    zoom: 12
                });
            }
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD53btb2ux82C_e-hUuaZppIasFzr7-utg&callback=initMap">
        </script>

  </main>
  
  <footer>
    <p>Footer text.</p>
  </footer>
  </div>
</body>
</html>
