<!DOCTYPE html>
<html>
<head>
  <title>Farmony</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE-Edge">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <script src="/public/js/jquery.js"></script>
  <script src="/public/js/script.js"></script>
</head>
<body>
  <!-- Header & Navigation -->
  <header class="site-content">
    <nav class="site-nav">
      <ul class="nav-list">
        <li><a href="#">Farmony</a></li>
        <li><a href="#">Sign In</a></li>
        <li><a href="#">Sign Up</a></li>
      </ul>
    </nav>
  </header>

  <!-- Market Search -->
  <div class="site-search">
    <form action="/" method="get" >
      <label for="search">Search:</label>
      <input name="search">

      <label for="location">Location:</label>
      <input name="location">

      <input type="submit" value="Search">
    </form>
  </div>

  <!-- Content -->
  <main class="site-content">
    {{{body}}}
  </main>

  <!-- Footer -->
  <footer class="site-footer">
    <p>Footer text.</p>
  </footer>
</body>
</html>
