html {
  box-sizing: border-box;
  height: 100%; }

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  background-color: peachpuff;
  font-size: 12px;
  height: 100%; }

a {
  font-family: "Noto Sans", sans-serif;
  font-size: 1em;
  font-weight: 700;
  text-decoration: none; }

ul {
  list-style: none; }

#site-container,
.site-content {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  height: 100%; }

.site-content {
  margin-top: 8em; }

.grid-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }

.grid-col {
  background-clip: content-box;
  flex: 1 1 8%; }

.grid-col-1 {
  background-color: red;
  flex-basis: 8.3333%; }

.grid-col-2 {
  background-color: green;
  flex-basis: 16.6666%; }

.grid-col-3 {
  flex-basis: 25%; }

.grid-col-4 {
  flex-basis: 33.3333%; }

.grid-col-5 {
  flex-basis: 41.6666%; }

.grid-col-6 {
  flex-basis: 50%; }

.grid-col-7 {
  flex-basis: 58.3333%; }

.grid-col-8 {
  flex-basis: 66.6666%; }

.grid-col-9 {
  flex-basis: 75%; }

.grid-col-10 {
  flex-basis: 83.3333%; }

.grid-col-11 {
  flex-basis: 91.6666%; }

.grid-col-12 {
  background-color: orange;
  flex-basis: 100%; }

.site-header {
  position: fixed;
  top: 0;
  z-index: 2; }

.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  line-height: 4.5em;
  overflow: hidden; }
  .nav-list li {
    flex: 0 1 auto;
    padding: 0 1em 0 1em;
    text-align: center; }
  .nav-list li:nth-child(1) {
    flex: 8 0 auto;
    text-align: left; }
  .nav-list a:link {
    color: yellow; }
  .nav-list a:focus {
    color: orange; }
  .nav-list a:hover {
    color: green;
    transition: 300ms; }
  .nav-list a:active {
    color: red; }

.site-search input[type="text"] {
  border-radius: none; }
.site-search input[type="text"]:focus {
  outline: none; }

.site-markets {
  overflow: scroll; }

.market-item {
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  line-height: 1.5em; }
  .market-item div:nth-child(1) {
    background-color: red; }
  .market-item div:nth-child(2) {
    background-color: orange;
    flex: 1 1 0; }
  .market-item div:nth-child(3) {
    background-color: green;
    width: 13.333em; }
  .market-item ul {
    background-color: red; }
  .market-item li > h2 {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.167em;
    font-weight: 700; }
  .market-item h2 {
    font-family: "Noto Serif", serif;
    font-size: 1em;
    font-weight: 400; }

.market-photo > div {
  border-radius: 0.250em;
  height: 7.583em;
  margin-bottom: 1.417em;
  margin-left: 1.667em;
  margin-right: 0.833em;
  margin-top: 1.417em;
  overflow: hidden;
  width: 8.333em; }
.market-photo img {
  height: 100%; }

a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none !important; }

.gmnoprint div {
  background: none !important; }

.site-footer p {
  line-height: 3em; }

@media all and (min-width: 320px) {
  .site-markets {
    max-width: none; }
    .site-markets div:last-child {
      padding-bottom: 96px; }

  .site-map {
    display: none; }

  .site-footer {
    display: none; } }
@media all and (min-width: 768px) {
  .site-markets {
    max-width: 48.333em; }
    .site-markets div:last-child {
      padding-bottom: 0; }

  .site-footer {
    bottom: 0;
    display: block;
    position: fixed; }

  .site-map {
    display: block; } }

/*# sourceMappingURL=style.css.map */
