html {
  box-sizing: border-box;
  height: 100%; }

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  background-color: #FFFFFF;
  font-size: 12px;
  height: 100%; }

.site-markets h2, h4, p, a {
  font-family: "Noto Sans", sans-serif; }

.site-markets a {
  text-decoration: none;
  color: #00BA9D; }

.site-markets p #market_email {
  padding-top: 1em;
  padding-bottom: 1em;
  display: block; }

.site-markets h2 {
  color: #00BA9D;
  font-size: 2.5em; }

.market-name {
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center; }

.site-markets h4 {
  color: #75C98E;
  font-size: 1.7em;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em; }

.site-markets p {
  font-size: 1.5em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.5; }

.site-markets #market_img {
  display: block;
  width: 70%;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto; }

ul {
  list-style: none; }

#market_vendors {
  display: block;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 2em; }

#market_vendors li {
  line-height: 1.5; }

#site-container {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  height: 100%; }

.site-content {
  margin-top: 10.667em; }

.grid-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }

.grid-col {
  background-clip: content-box;
  flex: 1 1 8%; }

.grid-col-1 {
  flex-basis: 8.3333%; }

.grid-col-2 {
  flex-basis: 16.6666%; }

.grid-col-3 {
  flex-basis: 25%; }

.grid-col-4 {
  flex-basis: 33.3333%; }

.grid-col-5 {
  flex-basis: 41.6666%; }

.grid-col-6 {
  flex-basis: 50%; }

.grid-col-7 {
  flex-basis: 58.3333%; }

.grid-col-8 {
  flex-basis: 66.6666%; }

.grid-col-9 {
  flex-basis: 75%; }

.grid-col-10 {
  flex-basis: 83.3333%; }

.grid-col-11 {
  flex-basis: 91.6666%; }

.grid-col-12 {
  flex-basis: 100%; }

.site-header {
  border-bottom: 1px solid #69B580;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 2; }

.site-nav {
  background-color: #00BA9D;
  font-family: "Noto Sans", sans-serif;
  font-size: 1em;
  font-weight: 700; }

.nav-list {
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  line-height: 4.5em;
  overflow: hidden; }
  .nav-list .site-words {
    font-family: "Noto Serif", serif;
    font-size: 0.833em;
    font-weight: 400; }
  .nav-list li {
    flex: 0 1 auto;
    padding: 0 1em;
    text-align: center; }
  .nav-list li:nth-child(1) {
    flex: 8 0 auto;
    padding-left: 1.667em;
    text-align: left; }
  .nav-list a:link {
    letter-spacing: 0.4em;
    text-transform: uppercase; }
  .nav-list a:visited, .nav-list a:active {
    color: #FFFFFF; }

.site-search {
  background-color: #75C98E; }
  .site-search form {
    padding-left: 1.667em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
  .site-search input {
    border: none;
    border-radius: 0.25em;
    box-shadow: none;
    display: block;
    line-height: 3.333em;
    margin: 1.667em 0.833em 1.667em 0; }
  .site-search input[type="text"] {
    appearance: none;
    padding-left: 0.833em;
    width: 33.333em; }
  .site-search input[type="text"]:focus {
    outline: none; }
  .site-search input[type="submit"] {
    background-color: #00BA9D;
    color: #FFFFFF;
    font-weight: 700;
    width: 16.083em; }
  .site-search input[type="submit"]:hover {
    background-color: #FFFFFF;
    color: #00BA9D;
    transition: 300ms; }

.vendor {
  /* display: inline-block; */
  /* text-align: center; */
  width: 30%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  line-height: 2; }

.vendor h2 {
  width: 20%;
  height: 2em;
  font-size: 2em;
  text-align: center;
  color: #00BA9D; }

.vendor li {
  width: 50%;
  font-size: 1.5em; }

#vendor_markets {
  padding-top: 3em; }

#vendor_markets li {
  font-size: 1.3em; }

.site-markets {
  border-right: 1px solid #69B580;
  overflow: scroll; }

.market-item {
  border-bottom: 1px solid #CFECD8;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  line-height: 1.5em;
  padding: 1.667em; }
  .market-item div:nth-child(1) {
    border-radius: 0.25em;
    height: 7.25em;
    margin-right: 0.833em;
    overflow: hidden;
    width: 8.333em; }
  .market-item div:nth-child(2) {
    padding-left: 0.833em;
    padding-right: 0.833em;
    padding-top: 0.500em;
    flex: 1 1 0; }
  .market-item div:nth-child(3) {
    min-width: 11.167em;
    padding-left: 0.833em;
    padding-top: 0.500em; }
  .market-item a {
    color: #00BA9D; }
  .market-item h2 {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.167em;
    font-weight: 700; }
  .market-item li {
    color: #333333;
    font-family: "Noto Serif", serif;
    font-size: 1em; }

.background-image {
  display: block;
  background-size: auto 100%;
  background-position: left;
  background-repeat: no-repeat; }

.market-details {
  float: left;
  padding-top: 0.167em;
  padding-right: 0.833em; }

a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display: none !important; }

.gmnoprint div {
  background: none !important; }

.site-footer {
  background-color: #75C98E;
  border-top: 1px solid #69B580;
  box-shadow: 10px 1px 10px 0px rgba(0, 0, 0, 0.2);
  bottom: 0;
  color: #FFFFFF;
  position: fixed; }
  .site-footer p {
    font-family: "Noto Sans", sans-serif;
    font-size: 0.833em;
    line-height: 4em;
    padding-left: 1.667em; }

@media all and (min-width: 0px) {
  .site-content {
    height: calc(100% - 10.583em); }

  .site-markets {
    max-width: none; }

  .market-item div:nth-child(1), .site-footer, .site-map {
    display: none; } }
@media all and (min-width: 40em) {
  .market-item div:nth-child(1) {
    display: block; } }
@media all and (min-width: 64em) {
  .site-content {
    height: calc(100% - 13.917em); }

  .site-markets {
    max-width: 52em; }

  .market-item div:nth-child(1), .site-footer, .site-map {
    display: block; } }

/*# sourceMappingURL=style.css.map */
