{{message}}

<h2>New Vendor</h2>

<form action="/vendors" method="post" >
  <label for="name">Name:</label>
  <input name="name">

  <label for="address">Business Address:</label>
  <input name="address">

  <label for="website">Website:</label>
  <input name="website">

  <label for="email_address">Email Address:</label>
  <input name="email_address">

  <label for="phone_number">Phone Number:</label>
  <input name="phone_number">

  <label for="description">Description/Bio:</label>
  <input type="textarea" name="description">

  <label for="photo_url">Photo URL:</label>
  <input name="photo_url">

  <input type="submit" value="Create">
</form>
